/*Aula 6*/
.conteudo {background-color: darkred; padding: 20px; width: 80%;}



/*Aula 5*/

.texto-principal {color: brown; text-align: center;}
.fundo-principal {color: black; padding: 40px;}
#content {color: blueviolet; background-color: darkolivegreen; padding: 20px;}

/*Aula 4*/
/*
h1,
h2,
p {
  color: blue;
  text-align: center;
}

/*Aula 2 e 3*/
/*
h1 {
  color: black;
  font-size: 40px;
}
h2 {
  color: blue;
  font-size: 20px;
}

input[type="text"] {
  width: 200px;
  color: #ccc;
  height: 20px;
}
input[type="email"] {
  width: 200px;
  color: #ccc;
  height: 20px;
}
input[type="submit"] {
  width: 100px;
  border: none;
  color: #000;
  cursor: pointer;
  height: 20px;
}

/*Aula 1*/
/*Seletor Tag*/
h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
}
