/* Aula 18*/
#base {background-color: greenyellow; width: 600px; height: 600px;}
#direita {background-color:magenta; width: 200px; height: 200px; float: right;}
#esquerda {background-color: blue; width: 200px; height: 200px; float: left;}
 
/*Aula 16 e 17*
#cores {
background:linear-gradient( purple, lightblue);
height: 200px;
width: 600px;
}

/*Aula 15*
>>>>>>> 35f79824ffcd7cf49506d5381c4b05434ae4902e
p {font-family: 'Lexend', sans-serif; font-size: 1em}

/*Aula 12*
*{font-size: 100%;}
p{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size:1em;}

/* Aula 10*
*{box-sizing: border-box;}
#teste {background-color: lightgreen; width: 1000px; padding: 30px;}

/*Aula 8 e 9*
p {
  color: blueviolet;
  font-size: 20px;
  text-align: justify;
  text-indent: 10px;
  text-shadow: 2px 16px 2px blue;
}
h1 {
  text-align: right;
  text-decoration: underline;
}
h2 {
  text-align: left;
  text-decoration: overline;
}
h3 {
  text-align: center;
  text-decoration: line-through;
}
